.App {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .home {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}

@media screen and (min-width: 540px) {
  .home {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}

@media screen and (min-width: 1220px) {
  .home {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
}

.new_item {
  text-decoration: none;
}

.plus {
  color: rgb(65, 56, 132);
  font-size: 150px;
  font-weight: bold;
}
